<%- include('partials/head') %>
<body>
  <div class="container">
    <h1>Sign up</h1>
    <form id="register" action="/register" method="POST">
      <label for="username">Username</label>
      <input name="username" type="text" id="username" maxlength="15" required>
      <label for="password">Pasword</label>
      <input name="password" type="password" id="password" minlength="5" maxlength="30" required>
      <label for="repeat-password">Repeat password</label>
      <input name="repeat" type="password" id="repeat-password" minlength="5" maxlength="30" required>
      <input type="submit" name="" value="Register">
    </form>
    <div class="feedback">
      <% if (error) { %>
        <%= error %>
      <% } %>
    </div>
    <a href="/">Already have an account? Sign in</a>
  </div>
</body>
<%- include('partials/foot') %>
