<%- include('./partials/head') %>
<main>
  <div class="container">

    <form id="chat-form">
      <input type="text" name="chat" id="chat" value="" ><!--
      --><label for="chat">Start chatting</label><!--
      --><button type="submit" name="button">Submit</button>
    </form>

    <!-- <div id="bar-users" class="ct-chart ct-perfect-fourth"></div> -->
    <form id="user-form">
      <label for="user-input">Set name</label><!--
      --><input type="text" name="user" id="user-input" value="" required maxlength="15" pattern=".*\S."><!--
      --><label for="user-color">Set color (must be valid css)</label><!--
      --><input type="text" name="color" id="user-color" value="" placeholder="Example: #000" required maxlength="7"><!--
      --><button type="submit" name="button">Submit</button>
    </form>


    <div id="map">

    </div>
  </div>
</main>



<%- include('./partials/footer') %>
